 .u-section-1 {
  background-image: url("images/71d0nvGb5NL._AC_SL1500_.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 680px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 100px auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  font-weight: 700;
  margin: 15px auto 60px 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 323px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
  }
} .u-section-2 {
  background-image: url("images/Diseosinttulo12.svg");
  background-position: 50% 41.62%;
}

.u-section-2 .u-sheet-1 {
  min-height: 329px;
}

.u-section-2 .u-list-1 {
  margin-top: 38px;
  margin-bottom: 38px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 253px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 0 23px;
}

.u-section-2 .u-icon-1 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 11px 0 10px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 13px 0 23px;
}

.u-section-2 .u-icon-2 {
  height: 128px;
  width: 128px;
  color: rgb(219, 84, 90) !important;
  margin: 6px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 20px 11px 0 10px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 13px 0 23px;
}

.u-section-2 .u-icon-3 {
  height: 128px;
  width: 128px;
  color: rgb(219, 84, 90) !important;
  margin: 6px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 20px 11px 0 10px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-4 {
  padding: 13px 0 30px;
}

.u-section-2 .u-icon-4 {
  height: 128px;
  width: 128px;
  margin: 6px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 20px 11px 0 10px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-size: 175%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 234px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-1 {
    height: 111px;
    width: 111px;
    margin-top: 10px;
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 111px;
    width: 111px;
    margin-top: 10px;
    padding: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 111px;
    width: 111px;
    margin-top: 10px;
    padding: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-list-item-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 111px;
    width: 111px;
    margin-top: 10px;
    padding: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 411px;
  }

  .u-section-2 .u-icon-1 {
    height: 76px;
    width: 76px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 76px;
    width: 76px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 76px;
    width: 76px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 76px;
    width: 76px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 46.13% 51.83%;
    background-size: auto 175%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 175px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 45.79% 61.14%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }
} .u-section-3 {
  background-image: url("images/Diseosinttulo12.svg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1233px;
}

.u-section-3 .u-group-1 {
  min-height: 230px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 2px 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 28px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 89px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  min-height: 827px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/product-1.webp");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-position: 50% 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 48px;
  height: auto;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 2px 0 -15px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 275px auto 0;
}

.u-section-3 .u-image-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/3-Sided-Bolster-Bed.webp");
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-group-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 48px;
  height: auto;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 4px 0 -15px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 275px auto 0;
}

.u-section-3 .u-image-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/Round-Sherpa-Top-Bed.jpg");
  background-position: 50% 100%;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-group-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 48px;
  height: auto;
}

.u-section-3 .u-container-layout-7 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 2px 0 -15px;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 275px auto 0;
}

.u-section-3 .u-image-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/Infrared-Bed.webp");
  background-position: 50% 100%;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-group-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 48px;
  height: auto;
}

.u-section-3 .u-container-layout-9 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 2px 0 -15px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 275px auto 0;
}

.u-section-3 .u-image-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/Calming-Faux-Fur-Round-Bed.jpg");
}

.u-section-3 .u-container-layout-10 {
  padding: 0;
}

.u-section-3 .u-group-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 48px;
  height: auto;
}

.u-section-3 .u-container-layout-11 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-7 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 2px 0 -15px;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 275px auto 0;
}

.u-section-3 .u-image-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/Chew-Resistant-Bed.jpg");
}

.u-section-3 .u-container-layout-12 {
  padding: 0;
}

.u-section-3 .u-group-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 48px;
  height: auto;
}

.u-section-3 .u-container-layout-13 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-8 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 2px 0 -15px;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 275px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-size: auto 105%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-group-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 59px;
    margin-bottom: 58px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 677px;
  }

  .u-section-3 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-2 {
    min-height: 42px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 197px;
    margin-left: 65px;
  }

  .u-section-3 .u-image-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-3 {
    min-height: 42px;
    height: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 197px;
    margin-left: 65px;
  }

  .u-section-3 .u-image-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-4 {
    min-height: 42px;
    height: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 197px;
    margin-left: 65px;
  }

  .u-section-3 .u-image-4 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-5 {
    min-height: 42px;
    height: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 197px;
    margin-left: 65px;
  }

  .u-section-3 .u-image-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-6 {
    min-height: 42px;
    height: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 197px;
    margin-left: 65px;
  }

  .u-section-3 .u-image-6 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-group-7 {
    min-height: 42px;
    height: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 197px;
    margin-left: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1622px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 60px;
    min-height: 302px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    margin-bottom: 38px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1192px;
  }

  .u-section-3 .u-group-2 {
    min-height: 46px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 241px;
    margin-left: auto;
  }

  .u-section-3 .u-group-3 {
    min-height: 46px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 241px;
    margin-left: auto;
  }

  .u-section-3 .u-group-4 {
    min-height: 46px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 241px;
    margin-left: auto;
  }

  .u-section-3 .u-group-5 {
    min-height: 46px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 241px;
    margin-left: auto;
  }

  .u-section-3 .u-group-6 {
    min-height: 46px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 241px;
    margin-left: auto;
  }

  .u-section-3 .u-group-7 {
    min-height: 46px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 241px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3592px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 420px;
    margin: 96px auto 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2996px;
  }

  .u-section-3 .u-group-2 {
    min-height: 56px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 346px;
  }

  .u-section-3 .u-image-2 {
    background-position: 0% 21.38%;
  }

  .u-section-3 .u-group-3 {
    min-height: 56px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 346px;
  }

  .u-section-3 .u-image-3 {
    background-position: 0% 100%;
  }

  .u-section-3 .u-group-4 {
    min-height: 56px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 346px;
  }

  .u-section-3 .u-image-4 {
    background-position: 50% 75.56%;
  }

  .u-section-3 .u-group-5 {
    min-height: 56px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 346px;
  }

  .u-section-3 .u-group-6 {
    min-height: 56px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 346px;
  }

  .u-section-3 .u-group-7 {
    min-height: 56px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2979px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 60px;
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2467px;
  }

  .u-section-3 .u-group-2 {
    min-height: 55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 265px;
  }

  .u-section-3 .u-image-2 {
    background-position: 45.39% 50%;
  }

  .u-section-3 .u-group-3 {
    min-height: 55px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 265px;
  }

  .u-section-3 .u-group-4 {
    min-height: 55px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 265px;
  }

  .u-section-3 .u-group-5 {
    min-height: 55px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 265px;
  }

  .u-section-3 .u-group-6 {
    min-height: 55px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 265px;
  }

  .u-section-3 .u-group-7 {
    min-height: 55px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 5px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: 265px;
  }
} .u-section-4 {
  background-image: url("images/Diseosinttulo12.svg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1340px;
}

.u-section-4 .u-group-1 {
  min-height: 276px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 16px 7px 2px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 7px 23px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 14px 23px 0;
}

.u-section-4 .u-icon-1 {
  width: 96px;
  height: 96px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-list-1 {
  grid-auto-rows: 100%;
  width: 343px;
  margin: 72px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 674px;
  grid-gap: 12px 12px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 359px;
  margin-top: -56px;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -12px 16px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 30px 0;
}

.u-section-4 .u-text-5 {
  background-image: none;
  margin: 33px 0 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-4 .u-icon-2 {
  font-size: 2.0626em;
}

.u-section-4 .u-list-2 {
  grid-auto-rows: 100%;
  width: 346px;
  margin: -674px auto 0 0;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 506px;
  grid-gap: 12px 12px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  height: 359px;
  margin-top: -56px;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -12px 16px 0;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;
  margin: 14px 30px 0;
}

.u-section-4 .u-text-9 {
  background-image: none;
  margin: 33px 0 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 7px auto 0;
}

.u-section-4 .u-icon-3 {
  font-size: 2.0626em;
}

.u-section-4 .u-list-3 {
  grid-auto-rows: 100%;
  width: 357px;
  margin: -506px 0 0 auto;
}

.u-section-4 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 814px;
  grid-gap: 12px 12px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  height: 359px;
  margin-top: -56px;
  margin-bottom: 0;
}

.u-section-4 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -12px 16px 0;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.125rem;
  margin: 27px 30px 0;
}

.u-section-4 .u-text-13 {
  background-image: none;
  margin: 17px 15px 0;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-icon-4 {
  font-size: 2.0626em;
}

.u-section-4 .u-btn-1 {
  font-size: 0.9375rem;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 52px auto 60px;
  padding: 8px 33px;
}

.u-section-4 .u-icon-5 {
  font-size: 1.6em;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-size: auto 110%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1861px;
  }

  .u-section-4 .u-group-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-list-1 {
    width: 390px;
    margin-top: 118px;
    margin-left: 30px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 605px;
  }

  .u-section-4 .u-list-item-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-1 {
    background-position: 50% 50%;
    height: 296px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-list-2 {
    width: 390px;
    margin-top: 129px;
    margin-left: 30px;
  }

  .u-section-4 .u-list-item-2 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-list-3 {
    width: 404px;
    margin-top: -1081px;
    margin-right: 53px;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 762px;
  }

  .u-section-4 .u-list-item-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
  }

  .u-section-4 .u-text-14 {
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 387px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2777px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 49px;
    min-height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 451px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 636px;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
  }

  .u-section-4 .u-list-2 {
    width: 451px;
    margin-left: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 15px;
  }

  .u-section-4 .u-list-3 {
    width: 451px;
    margin-top: 118px;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 729px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 9px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 69px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2944px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 730px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-image-1 {
    height: 510px;
    margin-top: -97px;
  }

  .u-section-4 .u-text-3 {
    width: 331px;
    margin-top: -65px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 331px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 24px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 7px;
  }

  .u-section-4 .u-list-2 {
    margin-top: 109px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 32px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2622px;
  }

  .u-section-4 .u-group-1 {
    min-height: 300px;
    margin-top: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: 138px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 555px;
  }

  .u-section-4 .u-image-1 {
    height: 321px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -6px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 6px;
  }

  .u-section-4 .u-list-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 436px;
  }

  .u-section-4 .u-image-2 {
    height: 271px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-list-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 713px;
  }

  .u-section-4 .u-image-3 {
    height: 271px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-12 {
    margin-top: 21px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-13 {
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 11px;
  }
} .u-section-5 {
  background-image: url("images/Diseosinttulo12.svg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 572px;
}

.u-section-5 .u-group-1 {
  min-height: 458px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 16px 7px 2px 110px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1045px;
  margin: -426px auto 60px;
}

.u-section-5 .u-image-1 {
  min-height: 400px;
  background-image: url("images/bed-diagram-resized_900x518.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 3rem;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-5 .u-group-1 {
    min-height: 438px;
    margin-top: 20px;
    height: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 900px;
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 485px;
  }

  .u-section-5 .u-group-1 {
    min-height: 352px;
    margin-top: 53px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 698px;
    margin-top: -341px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 0;
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-5 .u-group-1 {
    min-height: 609px;
    margin-top: 60px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 495px;
    margin-top: -576px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 419px;
    order: 1;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 194px;
    order: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 52px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 300px;
    margin-top: -596px;
  }

  .u-section-5 .u-image-1 {
    min-height: 265px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 294px;
  }
} .u-section-6 {
  background-image: url("images/Diseosinttulo12.svg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1141px;
}

.u-section-6 .u-group-1 {
  min-height: 104px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  width: 1140px;
  margin: 1px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 26px 10px 0;
}

.u-section-6 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1118px;
  margin: 286px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-6 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto 0 0;
  padding: 6px;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 463px;
  height: 463px;
  background-image: url("images/Bull_and_Joe_8282bcbd-37a5-4000-a9cc-2b1d8a019228.webp");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -899px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-6 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 281px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 413px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-6 .u-image-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -902px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1356px;
  }

  .u-section-6 .u-group-1 {
    min-height: 149px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 315px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 77px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -1098px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1401px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 295px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 58px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    width: 420px;
    height: 420px;
    margin-top: -1116px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1803px;
  }

  .u-section-6 .u-group-1 {
    min-height: 129px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-1 {
    margin-top: 27px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 259px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 37px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -1520px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  background-image: url("images/Diseosinttulo12.svg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-7 .u-group-1 {
  min-height: 180px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-7 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 38px 10px 0;
}

.u-section-7 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-7 .u-slider-1 {
  min-height: 653px;
  margin-top: 75px;
  margin-bottom: 60px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-carousel-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 50px 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-weight: 400;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  min-height: 569px;
  background-image: url("images/bull-sleepy-tan_1000x1500.webp");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 569px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-7 .u-image-2 {
  width: 460px;
  height: 336px;
  margin: 79px auto 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-wrap-2 {
  margin: 0;
}

.u-section-7 .u-image-3 {
  min-height: 456px;
  background-image: url("images/Bully-bolster-gray-3_1000x1500.webp");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 456px;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-7 .u-image-4 {
  width: 516px;
  height: 336px;
  margin: 40px auto 0;
}

.u-section-7 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-7 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-image-1 {
    min-height: 469px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-7 .u-image-2 {
    width: 420px;
    height: 306px;
  }

  .u-section-7 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    min-height: 376px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 376px;
  }

  .u-section-7 .u-image-4 {
    width: 420px;
    height: 273px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    min-height: 359px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-7 .u-image-2 {
    width: 330px;
    height: 240px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-3 {
    min-height: 288px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 288px;
  }

  .u-section-7 .u-image-4 {
    width: 330px;
    height: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin: 37px 20px 40px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 317px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-image-2 {
    margin-top: 0;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 432px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 432px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-image-1 {
    min-height: 200px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-7 .u-image-2 {
    width: 320px;
    height: 233px;
  }

  .u-section-7 .u-image-3 {
    min-height: 272px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 272px;
  }

  .u-section-7 .u-image-4 {
    width: 320px;
    height: 208px;
  }
}